@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none !important;
}

table {
}
th {
  background-color: #ebb82e !important;
  color: #fff;
  padding: 0.8rem !important;
}
td {
  padding: 0.8rem !important;
}
